body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Reset zodat alles mooi uitlijnt */

.main-nav {
    display: flex;
    background: black;
    justify-content: flex-end;
    font-family: fantasy, Tahoma, sans-serif;
    font-size: 2em;
    list-style: none;
    padding: inherit;
    opacity: 1;
    height: 2.5em;
    text-transform: uppercase;
    margin-top: 0;
}

/* Vormgeving nav */



li {

    color: white;
    margin-right: 3vw;
    align-self: center;
    padding: 0.7em 0.2em 0.6em 0.2em;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

li:first-child {
    margin-right: auto;
    padding-left: .2em;
    object-fit: cover;
}

li:hover:NOT(:first-child) {
    background: white;
    color: black;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

li:hover {
    cursor: pointer;
}

/* Vormgeving van de items in de nav */



li a {

    text-decoration: none;
}

li a:visited {
    color: inherit;
}

a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

/* Deze vier regels zorgen ervoor dat je geen irritante kleurverandering en underline krijgt bij een eerder bezochte link */



.carousel {
    width: 100%;
    position: relative;
    margin: auto;
    margin-top: -2em;
    max-height: 42vh;
    object-fit: cover;
    margin-bottom: 1em;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.carouselimg img {
    max-height: 42vh;
    object-fit: cover;
    width: 100%;
}

.carousel:hover {
    opacity: 0.9;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
}

/* Vormgeving carousel */


.carouselimg:NOT(:first-of-type) {
    display: none;
}

/* Hierdoor laat carousel alleen het eerste plaatje zien */



.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -2em;
    padding: 1em;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 0 .4em .4em 0;
    user-select: none;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -2em;
    padding: 1em;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 0 1em 1em 0;
    user-select: none;
    right: 0;
    border-radius: .4em 0 0 .4em;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.prev:hover {
    background-color: #3C3C3C;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.next:hover {
    background-color: #3C3C3C;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

/* Vormgeving buttons in carousel */



h2 {
    color: #000000;
    font-size: 2em;
    position: absolute;
    bottom: .6em;
    width: 100%;
    text-align: center;
    font-family: fantasy, Tahoma, sans-serif;
    background: white;
    opacity: 0.8;
}

.dot {
    display: none;
}

/* I.s.m. de JS houdt de dot bij bij welk plaatje we zijn */



h1 {
    color: #000000;
    font-family: fantasy, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.87em;
    margin: 1em;
}

h3 {
    color: #000000;
    font-family: fantasy, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin: 0 2em 1em 2em;
}

p {
    font-family: sans-serif;
    font-size: 1.1em;
    margin: 1em 2em 2em 2em;
}

.spotify {
    display: block;
    margin: auto;
    margin-bottom: 4em;
}

/* Vormgeving Spotify sneak preview */



.latestnews {
    display: flex;
    background-color: #000000;
    font-size: 1.2em;
}

.latestnews > div {
    background-color: #000000;
    padding: 1em;
    flex: 1;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.latestnews div img {
    width: 100%;
    object-fit: cover;
}

.latestnews > div:hover {
    opacity: 0.6;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
}

/* Vormgeving Latest News section */



.newstitle {
    color: #000000;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    bottom: 2em;
    font-size: 1em;
    width: auto;
    text-align: center;
    font-family: fantasy, Tahoma, sans-serif;
}

/* Vormgeving titel binnen latest news */



@media only screen and (max-width: 40em) {
    .latestnews {
        flex-direction: column;
        font-size: 1.6em;
    }
}

/* Media-query zodat bij minder dan 640px schermbreedte de latest news section van row naar column verandert */




form {
    display: flex;
    flex-direction: column;
    background: black;
    width: 80%%;
    height: 25em;
    padding: 1em;
    color: black;
}

#naam {
    background-color: purple;
    height: 2em;
    width: 60%;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    border: none;
    transition: all 0.5s ease 0s;
    color: white;
}

#naam:hover {
    background-color: #699582;
}

#email {
    background-color: deeppink;
    height: 2em;
    width: 60%;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    border: none;
    transition: all 0.5s ease 0s;
    color: white;
}

#email:hover {
    background-color: #728651;
}

#bericht {
    background-color: blue;
    overflow: hidden;
    height: 6em;
    width: 60%;
    color: white;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    border: none;
    transition: all 0.5s ease 0s;
}

#bericht:hover {
    background-color: #2DD7BB;
}

.submit {
    background-color: #2DD7BB;
    height: 3em;
    width: 15%;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    border: none;
    transition: all 0.5s ease 0s;
    margin-bottom: 3em;
    color: white;
}

.submit:hover {
    background-color: green;
    cursor: pointer;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

::placeholder {
    color: white;
    font-size: 1.3em;
    font-family: fantasy, Tahoma, sans-serif;
}

/* Vormgeving contactform */


.topimg img {
    width: 100%;
    height: 20em;
    object-fit: cover;
    margin-top: -2em;
}

/* Vormgeving plaatje op detailpagina */



@media only screen and (min-width: 40em) {
    p {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    h3 {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Mediaquery op de detailpagina die zorgt dat alles netjes leesbaar blijft, en uitgelijnd */



.giphy-embed {
    display: block;
    width: 50%;
    margin: 2em auto 0 auto;
}

.terug {
    display: flex;
    background-color: red;
    height: 3em;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    border: none;
    transition: all 0.5s ease 0s;
    margin-bottom: 3em;
    color: white;
}

.terug:hover {
    background-color: green;
    cursor: pointer;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

/* Vormgeving easter egg pagina ;) */


li a:focus {
    outline-color: crimson;
}

/* button:focus {
    background-color: green;
} */

#naam:focus {
    background-color: gray;
    outline: none;
}

#email:focus {
    background-color: gray;
    outline: none;
}

#bericht:focus {
    background-color: gray;
    outline: none;
}

/* Vormgeving focus state */


#testdiv {
    width: 10%;
    text-align: center;
    border: .1em solid gray;
    padding: 2em;
    margin: auto;
    opacity: 0;
    transition: 0.3s;
}

#testdiv.yes {
    opacity: 1;
}

#testbutton {
    display: flex;
    background-color: deeppink;
    height: 3em;
    margin: auto;
    padding: 1em;
    border-radius: 1em;
    border: none;
    transition: all 0.5s ease 0s;
    margin-bottom: 3em;
    color: white;
}

#testbutton:hover {
    background-color: green;
    cursor: pointer;
